body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #1c2331;
    color: white;
    padding: 0rem;
    position: sticky;
    top: 0px;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


a {
    font-size: x-large;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
}


.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo img {
    width: 450px;
    height: 120px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 8px;
}

.nav-links .ingresar {
    background-color: #dc3545;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 0px;
}

.car-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1200px;
    height: 600px;
    background: linear-gradient(to right, rgb(28, 35, 49), rgb(220, 53, 69));
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.car-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    height: 400px;
}

.car-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.car-info h2 {
    font-size: 50px;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 0;
}

.car-info p {
    font-size: 30px;
    width: 100%;
    height: fit-content;
    margin: 20px;
}

.car-specs {
    display: flex;
    width: 100%;
    height: fit-content;
    align-content: space-around;
}


.car-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
    margin: 0;
    width: 60%;
    height: 550px;
}

.car-navigation {
    display: flex;
    justify-content: space-between(5px);
    align-items: center;
    margin-top: 1rem;
}

.car-specs {
    display: flex;
    height: fit-content;
    width: 100%;
    align-content: space-around;
}

.spec {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: start;
    text-align: center;
    width: fit-content;
    height: fit-content;
    gap: 10px;
}

.spec-value {
    font-size: 1.5rem;
    font-weight: bold;
}

.spec-label {
    color: white;
    font-size: 0.9rem;
}

.data {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    height: 100%;
}

footer {
    background-color: #1c2331;
    color: white;
    margin-top: 2rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 2rem;
}

.footer-section h3 {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-for {
    background-color: #b71c1c;
    padding: 20px;
    text-align: center;
    position: relative;
}

.footer-for::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #b71c1c;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 80% 50%, 60% 0, 40% 50%, 20% 0, 0 50%);
}


.title-car-section {
    position: relative;
    height: 220px;
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.car-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marca1 {
    position: relative;
    left: 720px;
    top: -50px;
    height: fit-content;
    width: fit-content;
}

.marca1 img {
    width: 120px;
}

.marca2 {
    position: relative;
    left: 1040px;
    top: -120px;
    height: fit-content;
    width: fit-content;
}

.marca2 img {
    width: 70px;
}

.marca3 {
    position: relative;
    left: 1220px;
    top: -300px;
    height: fit-content;
    width: fit-content;
}

.marca3 img {
    width: 150px;
}

.marca4 {
    position: relative;
    left: 450px;
    top: -460px;
    height: fit-content;
    width: fit-content;
}

.marca4 img {
    width: 150px;
}

.marca5 {
    position: relative;
    left: 720px;
    top: -660px;
    height: fit-content;
    width: fit-content;
}

.marca5 img {
    width: 100px;
}

.marca6 {
    position: relative;
    left: 1040px;
    top: -710px;
    height: fit-content;
    width: fit-content;
}

.marca6 img {
    width: 70px;
}

.car-title h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    font-weight: bolder;
}