body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1c2331;
    color: white;
    padding: 0rem;
    position: sticky;
    top: 0px;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: x-large;
}

.nav-links {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo img {
    width: 450px;
    height: 120px;

}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 8px;
}

.nav-links .ingresar {
    background-color: #b71c1c;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 0px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #b71c1c;
    color: white;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 80px;
    text-align: center;
}

.hero-text p {
    font-size: 40px;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.buttons {
    margin-top: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #b71c1c;
    color: white;
}

.btn-primary:hover {
    background-color: #db2121;
}

.btn-secondary {
    background-color: white;
    border: 1px solid #6c757d;
    color: #6c757d;
}


.fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    background-color: black;
}

.title-car-section {
    position: relative;
    height: 220px;
    width: 100%;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-width: 25px;
    border-radius: 15px;
}

.car-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marca1 {
    position: relative;
    left: 700px;
    top: -50px;
    height: fit-content;
    width: fit-content;
}

.marca1 img {
    width: 120px;
}

.marca2 {
    position: relative;
    left: 1020px;
    top: -120px;
    height: fit-content;
    width: fit-content;
}

.marca2 img {
    width: 70px;
}

.marca3 {
    position: relative;
    left: 1200px;
    top: -300px;
    height: fit-content;
    width: fit-content;
}

.marca3 img {
    width: 150px;
}

.marca4 {
    position: relative;
    left: 430px;
    top: -460px;
    height: fit-content;
    width: fit-content;
}

.marca4 img {
    width: 150px;
}

.marca5 {
    position: relative;
    left: 700px;
    top: -660px;
    height: fit-content;
    width: fit-content;
}

.marca5 img {
    width: 100px;
}

.marca6 {
    position: relative;
    left: 1020px;
    top: -710px;
    height: fit-content;
    width: fit-content;
}

.marca6 img {
    width: 70px;
}

.car-title h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    font-weight: bolder;
}

.car-section {
    width: 100%;
    max-width: 1815px;
    margin: 0 auto;
    margin-left: 24px;
    margin-right: 50px;
    position: relative;
    overflow: hidden;
}

.car-section2 {
    width: 100%;
    max-width: 1815px;
    margin: 0 auto;
    margin-left: 24px;
    margin-right: 50px;
    overflow: hidden;
    position: relative;
    /* margin-left: 40px;
    margin-right: 50px */
}


.car-carousel {
    display: flex;
    gap: 1rem;
    transition: transform 0.3s ease-out;
    width: 1000px;
}

.car-card {
    flex: none;
    width: 300px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    overflow: hidden;
    background: linear-gradient(to right, rgb(28, 35, 49), #b71c1c);
    border-radius: 15px;
}

.car-card2 {
    flex: none;
    width: 300px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    overflow: hidden;
    background: linear-gradient(to right, rgb(28, 35, 49), #b71c1c);
    border-radius: 15px;
}

.car-carousel2 {
    display: flex;
    gap: 1rem;
    transition: transform 0.3s ease-out;
}

.boton-carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(120px);
    background-color: rgba(220, 53, 69, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    z-index: 10;
}

.boton-carrusel:hover {
    background-color: rgba(220, 53, 69, 0.8);
}

.boton-anterior {
    left: 10px;
}

.boton-siguiente {
    right: 10px;
}

@media (max-width: 768px) {
    .car-section {
        max-width: 320px;
    }

    .boton-carrusel {
        padding: 8px 12px;
        font-size: 16px;
    }
}

.boton-carrusel2 {
    position: absolute;
    top: 50%;
    transform: translateY(120px);
    background-color: rgba(220, 53, 69, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    z-index: 10;
}

.boton-carrusel2:hover {
    background-color: rgba(220, 53, 69, 0.8);
}

.boton-anterior2 {
    left: 10px;
}

.boton-siguiente2 {
    right: 10px;
}

@media (max-width: 768px) {
    .car-section2 {
        max-width: 320px;
    }

    .boton-carrusel2 {
        padding: 8px 12px;
        font-size: 16px;
    }
}

.autofot {
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car-info {
    padding: 1rem;
    display: flex;
    color: white;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.features {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 25px;
    margin-right: 25px;
}

.feature {
    flex: 1;
    background-color: #e9ecef;
    padding: 1rem;
    border-radius: 4px;
}

footer {
    background-color: #1c2331;
    color: white;
    margin-top: 2rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 2rem;
}

.footer-section h3 {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-for {
    background-color: #b71c1c;
    padding: 20px;
    text-align: center;
    position: relative;
}

.footer-for::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #b71c1c;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 80% 50%, 60% 0, 40% 50%, 20% 0, 0 50%);
}

.payment-types {
    background-color: #f8f9fa;
    width: 100%;
    height: fit-content;
}

.title-payment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin-top: 50px;
}

.title-payment h2 {
    position: absolute;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    padding: 10px;
    z-index: 2;
    background-color: white;
    border-radius: 20px;
}

.title-payment img {
    object-fit: cover;
    height: 80%;
    width: 32.5%;
}

.fondo-pagos1 {
    border-radius: 50px 0 0 50px;
}

.fondo-pagos3 {
    border-radius: 0 50px 50px 0;
}

.payment-tarjets {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: rgb(28, 35, 49);
}

.payment-tarjets p {
    margin: 0;
    width: 40%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
}

.payment-grid {
    display: flex;
    align-items: center;
    gap: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.payment-card {
    display: flex;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 450px;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}


.titulo-pag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.payment-card:hover {
    transform: translateY(-5px);
}


.titulo-pag img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.titulo-pag h3 {
    margin: 0;
    text-align: center;
    background-color: #ffff;
    color: #1c2331;
    font-size: 30px;
}


.payment-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.payment-card h3 {
    margin: 0;
    text-align: center;
    background-color: #ffff;
    color: #1c2331;
    font-size: 30px;
}

.payment-card p {
    width: 90%;
    color: black;
    margin: 0;
    margin-top: 20px;
}

.webada {
    text-decoration: none;
    color: inherit;
}


.logotipo {
    height: 30px;
    width: 30px;
}

.boton-informacion {
    color: white;
    background-color: rgba(220, 53, 69, 0.5);
    border: none;
    width: 50%;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
}

.boton-informacion:hover {
    background-color: rgba(220, 53, 69, 0.8);
}

footer {
    background-color: #1c2331;
    color: white;
    margin-top: 3.5rem;
}

.nosotros {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nosotros-titulo {
    width: 98%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 25px solid black;
    border-top: 25px solid black;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.nosotros-titulo h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    font-weight: bolder;
}

.nosotros-cuerpo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.nosotros-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background: linear-gradient(30deg, rgb(28, 35, 49), rgb(220, 53, 69));
    border-radius: 50px;
}

.nosotros-card p {
    font-size: 21px;
    color: white;
    margin: 40px;
}

.nosotros-card img {
    width: 40%;
    border-radius: 50px;
}

.nosotros-card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background: linear-gradient(30deg, rgb(28, 35, 49), rgb(220, 53, 69));
    border-radius: 50px;
    height: 300px;
}

.nosotros-card2 p {
    font-size: 21px;
    color: white;
    margin: 40px;
    width: 60%;
}

.nosotros-card2 img {
    width: 40%;
    border-radius: 40px;
    height: 100%;
}


.footer2 {
    margin-top: 0px;
}

.footer-content2 {
    display: flex;
    justify-content: space-between;
    height: 170px;

}

.footer-section2 {
    flex: 1;
    padding: 2rem;
}

.footer-section2 h3 {
    margin-bottom: 1rem;
}

.footer-section2 ul {
    list-style-type: none;
    padding: 0;
    font-size: medium;

}

.footer-section2 ul li {
    margin-bottom: 0.5rem;
    font-size: small;
}

.footer-for2 {
    background-color: #b71c1c;
    padding: 5px;
    text-align: center;
    position: relative;
    margin: 0px;
}