body {
    background: #ffffff;
    margin: 0px;
}

header {
    background-color: #1c2331;
    color: white;
    padding: 0rem;
    position: sticky;
    top: 0px;
    z-index: 100;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-link {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 5px;
    left: 5px;
}

.icon-link img {
    width: 150px;
    border-radius: 30px;
}


a {
    font-size: x-large;
}

.nav-links {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
}


.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 8px;
}

.nav-links .ingresar {
    background-color: #b71c1c;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 0px;
}


.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo img {
    width: 450px;
    height: 120px;

}

.icon-image {
    position: absolute;
    padding-top: 20px;
    width: 50px;
    top: 5px;
    left: 30px;
    z-index: 100;
    margin: 40px -10;
}

.auto_derecha {
    position: fixed;
    bottom: 0;
    right: -130px;
    width: 854px;
    height: 416;
    z-index: -1;
}

.auto_izquierda {
    position: fixed;
    bottom: 0;
    left: -140px;
    width: 825px;
    height: 526.24;
    z-index: -1;
    bottom: 120px;
}

.LOGO2 {
    width: 80px;
    height: 80px;
    /* object-fit: cover; */
}

.login-container {
    top: 50%;
    left: 50%;
    margin-top: 20px;
}

h3 {
    color: #000000;
    font-size: 100px;
    font-family: 'Space Grotesk', sans-serif;
    margin: 1px;
}

p {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 15px;
}

.login-box {
    background-color: #ffffff80;
    border-radius: 10px;
    border-color: #E60D22;
    border-width: 10px;
    border-style: solid;
    text-align: center;
    height: 759px;
    width: 1025px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.login-box input {
    display: flex;
    height: 20px;
    width: 320px;
    padding: 12px;
    margin: 10px;
    border: 5px solid #ffffff;
    border-radius: 7px;
    border-color: #c2bcbc;
    border-width: 1px;
    border-style: solid;
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-column,
.right-column {
    flex: 1;
    margin: 0 10px;
}

.left-column label,
.right-column label {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.login-box label {
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.login-box input::placeholder {
    color: #E60D22;
}

.login-box button {
    background-color: #E60D22;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    height: 47px;
    width: 355px;
    font-size: 25px;
    margin: 20px;
    margin-bottom: 30px;
}

.login-box button:hover {
    background-color: #ff0000;
}

.contraseñaGenerada {
    font-family: 'Poppins', sans-serif;
    color: #E60D22;
    margin: 10px;
    margin-bottom: 30px;
}


footer {
    background-color: #1c2331;
    color: white;
    margin-top: 2rem;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 2rem;
}

.footer-section h3 {
    margin-bottom: 1rem;
    font-size: large;
    color: #ffffff;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-for {
    background-color: #b71c1c;
    padding: 20px;
    text-align: center;
    position: relative;
    color: #ffffff;
}

.footer-for p {
    color: #ffffff;
}

.footer-for::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #b71c1c;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 80% 50%, 60% 0, 40% 50%, 20% 0, 0 50%);
}